:root {
  --main-text-color: #F4981A;
  --main-hover-color: #FFC678;
  --main-hover-color-btn: #f17705;
  --body-background-color: #2D2D2D;
  --elevated-background-color: #282828;
}

body {
  background-color: var(--body-background-color);
  color: var(--main-text-color);
  overflow-x: hidden;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  color: #ffc678;
}

h1 {
  width: fit-content;
  text-align: center;
  padding: 0 3rem;
  margin-top: -5rem;
  background-color: var(--body-background-color);
}

p {
  text-align: center;
}

p.tleft {
  text-align: left;
}

.navbar {
  --bs-navbar-brand-color: var(--main-text-color);
  --bs-navbar-brand-margin-end: 0;
  --bs-navbar-brand-padding-y: 0;

  justify-content: start;
  align-items: baseline;
  padding: 5px;
  gap: 5px 20px;
}

@media (max-width:579px) {
  .navbar .mainpage {
    width: 100%;
  }
}

@media (min-width:580px) {
  .navbar {
    padding-left: 20px;
    gap: 30px;
  }
}

.navbar .sidepage {
  font-size: calc(var(--bs-navbar-brand-font-size) * 0.75);
}

.navbar-brand {}

.navbar-brand:hover,
.navbar-brand:focus {
  --bs-navbar-brand-hover-color: var(--main-hover-color);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.custom-row {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.blop {
  margin: 6rem auto;
  padding: 50px;
}

.halt {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

ul:not(.padding) {
  line-height: 1.75;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

footer {
  margin: 2rem 5rem;
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  border-radius: 0.4rem;
  border: 1px solid;
  padding: 4px 8px;
}

button.primary {
  color: var(--elevated-background-color);
  background: var(--main-text-color);
  border-color: var(--main-text-color);
}

button.secondary {
  color: var(--main-text-color);
  background: unset;
  border-color: var(--main-text-color);
}

button.primary:hover {
  background: var(--main-hover-color-btn);
  border-color: var(--main-hover-color-btn);
}

button.secondary:hover {
  color: var(--elevated-background-color);
  background: var(--main-hover-color-btn);
  border-color: var(--main-hover-color-btn);
}


.bold {
  font-weight: 750;
}

h2,
h3,
h4 {
  text-align: center;
}