:root {
  --main-text-color: #F4981A;
  --main-hover-color: #FFC678;
}
body {
  background-color: #2D2D2D;
  color: var(--main-text-color);
  overflow-x: hidden;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}
a:hover {
  color: #ffc678;
}
h1 {
  width: fit-content;
  text-align: center;
  padding: 0 3rem;
  margin-top: -5rem;
  background-color: #2D2D2D;
}
p {
  text-align: center;
}
.navbar {
  --bs-navbar-brand-color: var(--main-text-color);
}
.navbar-brand:hover,
.navbar-brand:focus {
  --bs-navbar-brand-hover-color: var(--main-hover-color);
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.custom-row {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 105%;
  width: 105%;
  transform: translateX(-2.5%);
}
.blop {
  margin: 6rem auto;
  padding: 50px;
  border: solid 1px var(--main-text-color);
}
.halt {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
ul {
  line-height: 1.75;
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}